%table{:background => "kj_data/news_sroll.htm", :border => "0", :cellpadding => "0", :cellspacing => "1", :height => "45", :width => "555"}
  %tbody
    %tr
      %td{:align => "center", :height => "45", :width => "241"}
        %font{:style => "font-size:18px;"}
          %b 2012年第20120701069期开奖结果：
      %td{:align => "center", :width => "279"}
        %marquee{:direction => "left"}
          %font{:color => "blue", :style => "font-size:18px"}>
            %b 5
          \-
          %font{:color => "blue", :style => "font-size:18px"}>
            %b 6
          \-
          %font{:color => "green", :style => "font-size:18px"}>
            %b 1
          \-
          %font{:color => "red", :style => "font-size:18px"}>
            %b 15
          \-
          %font{:color => "blue", :style => "font-size:18px"}>
            %b 9
          \-
          %font{:color => "green", :style => "font-size:18px"}>
            %b 20
          \-
          %font{:color => "blue", :style => "font-size:18px"}
            %b 17
          \-
          %font{:color => "blue", :style => "font-size:18px"}
            %b 13
      %td{:align => "center", :width => "31"} &nbsp;
%table{:align => "center", :border => "0", :cellpadding => "3", :cellspacing => "0", :width => "450"}
  %tbody
    %tr
      %td
        = image_tag "kjxc5.png"
        = image_tag "kjxc6.png"
        = image_tag "kjxc1.png"
        = image_tag "kjxc15.png"
        = image_tag "kjxc9.png"
        = image_tag "kjxc20.png"
        = image_tag "kjxc17.png"
        = image_tag "kjxc13.png"