.content_left
  .content_left_case
    %p 台灣彩券精彩十分最新開獎
    %a{:href => "#"} 精彩十分图表走势
    %a{:href => "#"} 台湾彩劵精彩十分历史開獎&gt;&gt;
  .containter
    .containter_top
      %p.yellow 銷售時間&nbsp;每天&nbsp;8:00&nbsp;-&nbsp;次日02:00
      %p
        %span.white 第
        %span.yellow 2012062636
        %span.white 期&nbsp;距下期開獎
        %span.yellow 00:00
    .containter_min
      %p 當期開獎公告
    .containter_table
      %table.containter_t{:border => "0px", :cellpadding => "0", :cellspacing => "0"}
        %tr
          %td.containter_table_td{:align => "center", :colspan => "2", :valign => "middle", :width => "44"} 銷售金額
          %td.containter_table_td{:align => "center", :colspan => "4", :valign => "middle", :width => "44"}
            %p.orange.t18
              %i 169520
        %tr
          %td.containter_table_td{:align => "center", :colspan => "2", :valign => "middle", :width => "44"} 中獎號碼
          %td.containter_table_td{:align => "center", :colspan => "4", :valign => "middle", :width => "44"}
            = image_tag("x_14.gif")
            = image_tag("x_14.gif")
            = image_tag("x_14.gif")
            = image_tag("x_14.gif")
            = image_tag("x_14.gif")
            = image_tag("x_14.gif")
            = image_tag("x_14.gif")
            = image_tag("x_14.gif")
        %tr
          %td.containter_table_td{:align => "center", :valign => "middle", :width => "64"} 獎級
          %td.containter_table_td{:align => "center", :valign => "middle", :width => "34"} 注數
          %td.containter_table_td{:align => "center", :valign => "middle", :width => "34"} 獎金
          %td.containter_table_td{:align => "center", :valign => "middle", :width => "64"} 獎級
          %td.containter_table_td{:align => "center", :valign => "middle", :width => "34"} 注數
          %td.containter_table_td{:align => "center", :valign => "middle", :width => "34"} 獎金
        %tr
          %td.containter_table_td{:align => "center", :valign => "middle", :width => "64"} 選1數投
          %td.containter_table_td{:align => "center", :valign => "middle", :width => "34"}
            %p.orange 100
          %td.containter_table_td{:align => "center", :valign => "middle", :width => "34"} 25
          %td.containter_table_td{:align => "center", :height => "28", :valign => "middle", :width => "64"} 選1數投
          %td.containter_table_td{:align => "center", :height => "28", :valign => "middle", :width => "34"}
            %p.orange 100
          %td.containter_table_td{:align => "center", :height => "28", :valign => "middle", :width => "34"} 25
        %tr
          %td.containter_table_td{:align => "center", :height => "28", :valign => "middle", :width => "64"} 選1數投
          %td.containter_table_td{:align => "center", :height => "28", :valign => "middle", :width => "34"}
            %p.orange 100
          %td.containter_table_td{:align => "center", :height => "28", :valign => "middle", :width => "34"} 25
          %td.containter_table_td{:align => "center", :height => "28", :valign => "middle", :width => "64"} 選1數投
          %td.containter_table_td{:align => "center", :height => "28", :valign => "middle", :width => "34"}
            %p.orange 100
          %td.containter_table_td{:align => "center", :height => "28", :valign => "middle", :width => "34"} 25
        %tr
          %td.containter_table_td{:align => "center", :height => "28", :valign => "middle", :width => "64"} 選1數投
          %td.containter_table_td{:align => "center", :height => "28", :valign => "middle", :width => "34"}
            %p.orange 100
          %td.containter_table_td{:align => "center", :height => "28", :valign => "middle", :width => "34"} 25
          %td.containter_table_td{:align => "center", :height => "28", :valign => "middle", :width => "64"} 選1數投
          %td.containter_table_td{:align => "center", :height => "28", :valign => "middle", :width => "34"}
            %p.orange 100
          %td.containter_table_td{:align => "center", :height => "28", :valign => "middle", :width => "34"} 25
        %tr
          %td.containter_table_td{:align => "center", :height => "28", :valign => "middle", :width => "64"} 選1數投
          %td.containter_table_td{:align => "center", :height => "28", :valign => "middle", :width => "34"}
            %p.orange 100
          %td.containter_table_td{:align => "center", :height => "28", :valign => "middle", :width => "34"} 25
          %td.containter_table_td{:align => "center", :height => "28", :valign => "middle", :width => "64"} 選1數投
          %td.containter_table_td{:align => "center", :height => "28", :valign => "middle", :width => "34"}
            %p.orange 100
          %td.containter_table_td{:align => "center", :height => "28", :valign => "middle", :width => "34"} 25
        %tr
          %td.containter_table_td{:align => "center", :height => "28", :valign => "middle", :width => "64"} 選1數投
          %td.containter_table_td{:align => "center", :height => "28", :valign => "middle", :width => "34"}
            %p.orange 100
          %td.containter_table_td{:align => "center", :height => "28", :valign => "middle", :width => "34"} 25
          %td.containter_table_td{:align => "center", :height => "28", :valign => "middle", :width => "64"} 選1數投
          %td.containter_table_td{:align => "center", :height => "28", :valign => "middle", :width => "34"}
            %p.orange 100
          %td.containter_table_td{:align => "center", :height => "28", :valign => "middle", :width => "34"} 25
    .containter_bottom
      %p.blue.t14{:style => "margin-bottom:5px"}
        %b 精彩十分玩法介紹
      %p 規則:從20個號碼中開出8個作為開獎號碼。
      %p 高頻:每10分鐘開獎一期(每天開獎104期)。
      %p 高返獎:獎金固定,返獎率59%。
      %p 玩法多:既可玩樂透,又可選排列,設10個獎級,相當於10個小玩法。
      %p 投注靈活:追號、復式、肚拖多種投注方式選擇。
  .table
    %table.table2{:border => "0", :cellpadding => "0", :cellspacing => "0", :height => "240", :width => "681"}
      %tr.table3
        %td.table_td{:align => "center", :rowspan => "3", :valign => "middle", :width => "136"}
          = image_tag("x_27.gif")
        %td.table_td{:align => "center", :height => "31", :valign => "middle", :width => "173"}
          %span.orange> 1-20
          选
          %span.orange> 1-8
          個
        %td.table_td{:align => "left", :colspan => "3", :rowspan => "3", :valign => "middle"}
          %p &middot;每期從01-20共20個號碼中隨機生成8個不同號碼，作為當期開獎號碼。
          %p &middot;共有10種玩法，包含了排列、組合投注方式。
          %p &middot;投注時可選數字，也可以選顏色。
          %p &middot;如果“任選5”包8個號投注，如果所包的8個號碼與8個中獎號碼完全相同，則其中獎注數就達到56注，總獎金17920元。
      %tr
        %td.table_td{:align => "center", :height => "31", :valign => "middle", :width => "173"}
          每注
          %span.orange 2元
      %tr
        %td.table_td{:align => "center", :height => "31", :valign => "middle", :width => "173"}
          最高獎金
          %span.orange> 3000
          元
      %tr
        %td.table_td{:align => "center", :valign => "middle", :width => "136"} 號碼范圍
        %td.table_td{:align => "center", :colspan => "2", :height => "35", :valign => "middle"}
          %span.blue 1-20
        %td.table_td{:align => "center", :valign => "middle", :width => "136"} 投注號碼
        = succeed "\u{3000}\u{3000}" do
          %td.table_td{:align => "center", :valign => "middle", :width => "222"}
            任選
            %span.orange> 1-8
            個號碼投注
      %tr
        %td.table_td{:align => "center", :valign => "middle", :width => "136"} 銷售時間
        %td.table_td{:align => "center", :colspan => "2", :height => "35", :valign => "middle"} 每天8:00-次日02:00
        %td.table_td{:align => "center", :valign => "middle", :width => "136"} 開獎時間
        %td.table_td{:align => "center", :valign => "middle", :width => "222"} 每10分鐘&nbsp;開獎一期
      %tr
        %td.table_td{:align => "center", :valign => "middle", :width => "136"} 開獎號碼
        %td.table_td{:align => "center", :colspan => "4", :height => "35", :valign => "middle"} “精彩十分”每期從1-20個號碼中隨機搖出8個號碼,這8個號碼即為開獎號碼
      %tr
        %td.table_td{:align => "center", :valign => "middle", :width => "136"} 銷售日期
        %td.table_td{:align => "center", :colspan => "4", :height => "35", :valign => "middle"} 每周一至周日&nbsp;每天銷售&nbsp;每10分鐘&nbsp;開獎一期&nbsp;
      %tr
        %td.table_td{:align => "center", :bgcolor => "#c8cece", :colspan => "5", :height => "10", :valign => "middle"}
.content_right
  .content_right_top
    %p 臺湾彩券精彩十分開獎時間
  .main
    .main_l
      = image_tag("x_22.gif")
    .main_r
      %p
        \&middot;
        %span.orange 每10分钟开奖一期
      %p &middot;銷售時間:
      %p &nbsp;&nbsp;每天8:00-次日02:00
      %p &nbsp;&nbsp;第一時間獲悉彩票開獎
      %p &nbsp;&nbsp;號碼
  .content_right_top
    %p 臺湾彩券精彩十分玩法規則介紹
  .main2
    %p
      %a{:href => "#"}
        \&middot;
        %span.orange 臺灣彩券開獎時間一覽表
    %p
      %a{:href => "#"} &middot;臺灣彩券精彩十分玩法遊戲規則
    %p
      %a{:href => "#"} &middot;臺灣彩券十分獎金設置表
  .content_right_top
    %p 臺灣彩頭彩票推薦
  .main3
    %ul
      %li
        = image_tag("taiwan_23.gif")
      %li
        = image_tag("taiwan_23.gif")
      %li
        = image_tag("taiwan_26.gif")
      %li
        = image_tag("taiwan_26.gif")
      %li
        = image_tag("taiwan_28.gif")
      %li
        = image_tag("taiwan_28.gif")
