!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title 首页
    = include_gon
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = yield(:page_include_scripts) if content_for?(:page_include_scripts)

    = csrf_meta_tags

    = yield(:page_include_css) if content_for?(:page_include_css)
    = yield(:page_inline_css) if content_for?(:page_inline_css)
    = yield(:page_inline_scripts) if content_for?(:page_inline_scripts)


  %body
    #overmain
      #header
        %a{:href => "http://twjhc.com/"}
          = image_tag "banner.jpg", :alt => "台湾金多宝官方网站", :border => "0"
      %table.tabmain{:align => "center", :cellpadding => "0", :cellspacing => "0"}
        %tbody
          %tr
            %td.td-left{:valign => "top", :width => "200"}
              #leftarea
                #leftmenu
                  %ul
                    %li
                      = link_to root_path do
                        = image_tag "menu_01.jpg", :alt => "台湾福利彩网站首页", :border => "0"
                    %li
                      = link_to guide_path do
                        = image_tag "menu_02.jpg", :alt => "台湾福利彩彩购指南", :border => "0"
                    %li
                      = link_to history_path do
                        = image_tag "menu_09.jpg", :alt => "台湾福利彩开奖记录", :border => "0"
                    %li
                      %a{:href => "http://twjhc.com/certificate.asp"}
                        = image_tag "menu_08.jpg", :alt => "台湾福利彩授权证书", :border => "0"
                #leftlist
                  %dl
                    %dt 开奖日期
                    %dd
                      #tip www.jc-10.tw從早上10點開始到零晨2點結束.每10分鍾就開獎一期,共開108期. 閣下如獲中獎金超過五百萬，請於三十個工作日內登記。
                      #attention
                    %dd.boot
            %td.td-middle{:valign => "top", :width => "10"}
            %td.td-right{:valign => "top", :width => 590}
              = yield

      #boot-ad
        %ul
          %li.left-space
          %li.mid-info
            = image_tag "ad_01.gif", :alt => "台湾福利彩公司总部大楼"
          %li.right-space

      #footer
        %ul
          %li.left-space
          %li.mid-info
            Copyright 2009-2010 Powered by&nbsp;
            = succeed "\u{53d1}\u{884c}\u{7ba1}\u{7406}\u{4e2d}\u{5fc3}\u{552f}\u{4e00}\u{6307}\u{5b9a}\u{5b98}\u{65b9}\u{7f51}\u{7ad9}" do
              %a{:href => "http://www.twjhc.com/", :target => "_blank", :title => "台湾福利彩公司"} 台湾福利彩公司
            \&nbsp;&nbsp;请勿转载&nbsp;&nbsp;联系邮箱:
            %a{:href => "mailto:nike@twjhc.com"} nike@twjhc.com
          %li.right-space